*{
    padding: 0;
    margin: 0;
}

#header{
    background-color: rgb(72, 237, 158);
    position: fixed;
    top: 0;
    width: 100%;
}

#header > h1 {
    display: inline;
    margin-left: 100px;
}

#header > img {
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50%;
}

nav{
    display: inline;
    margin-left: 200px;
}

.containerNav > ul {
    display: inline;

}

.navItem{
    display: inline;
    margin-left: 15px;
}

img{
    z-index: 10;
}